body, html{
    font-size: 16px;
    
    height: 1506px;
}

header {
    background: #323232;
    width: auto;
    height: 63px;
    width: 1020px;
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 7.21379pt;
    color: rgba(46, 179, 152, 255);
    text-align: justify;
}

.navigation {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

.navigation .menu {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: stretch;
    padding-left: 10px;
}

li {
    list-style-type: none; /* Убираем маркеры */
    
   }
li:nth-child(2),
li:nth-child(6) {
    width: 1px;
    height: 1px;
    background: white;
    margin: 0 15px;
}

.button-submit {
    background: #2eb398;
}

.info {
    display: flex;
    justify-content: flex-start;
    padding-left: 99px; 
    background-color: #2eb398;
    width: 921px;
}

.article{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.article .img {
    display: flex;
    align-self: center;
}

hr {
    height: 316px; 
    width: 0.5px;
    background-color: rgba(32, 129, 109, 255);
}

.article .subtitle{
    font-family: 'MavenProRegular', AdobeInvisFont, MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(32, 129, 109, 255);
    text-align: justify;
    width: 249px;
}

h1 {
    font-family: 'MavenProRegular', AdobeInvisFont, MyriadPro-Regular;
    font-size: 30pt;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
}

.text-info {
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
    width: 581px;
}

.footer-submit{
    background-color: #323232;
    width: 1020px;
     
    
}
.in-touch-form{
    border: 0px;
    
    padding-top: 67px;
    padding-left: 120px;
}

.form-send {
    border: 0px;
}

.input-text,
.input-email,
.input-message {
    display: inline-flex;
    background-color:#454545;
    width: 580px;
    height: 38px;
    border: 0px;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
    display: block;
    padding-left: 20px;

    
}

.input-message {
    padding-top: 10px;
}

.button-submit {
    width: 90px;
    height: 37px;
    border: 0px;
    margin: 10px 0 65px 510px ;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
font-size: 12pt;
color: rgba(215, 252, 245, 255);
text-align: center;
    
}

@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
.legend {
    font-family: 'Maven Pro', sans-serif;
    font-size: 30pt;
    color: rgba(224, 224, 224, 255);
    text-align: justify;
}

.p-legend {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18pt;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
}

.input-message {
    width: 580px;
    height: 150px; 
}



.footer-copyright{
    display: flex;
    align-items: center;
    padding-left: 39px;
    font-family: 'MavenProRegular', AdobeInvisFont, MyriadPro-Regular;
    font-size: 8.65655pt;
    color: rgba(69, 69, 69, 255);
    text-align: justify;
    background-color: #222222;
    width: 981px;
    height: 43px;
}

.hexagon-container {
    position: relative;
}

.hexagon {
    width: 182px;
    height: 209px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}

.hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-1 {
    margin-top: 76px;
    margin-left: 117px;
    
}

.hex-layer-2-1 {
    background-image: url('../assets/images/1.png');
}

.hex-2 {
    margin-top: 76px;
    margin-left: 15px;
}

.hex-layer-2-2 {
    background-image: url('../assets/images/2.png');
}

.hex-3 {
    margin-top: 76px;
    margin-left: 14px;
}

.hex-layer-2-3 {
    background-image: url('../assets/images/3.png');
}

.hex-4 {
    margin-top: 76px;
    margin-left: 14px;
}

.hex-layer-2-4 {
    background-image: url('../assets/images/4.png');
}

.hex-5 {
    margin-top: -44px;
    margin-left: 17px;
    
}

.hex-layer-2-5 {
    background-image: url('../assets/images/5.png');
}

.hex-6 {
    margin-top: -43px;
    margin-left: 15px;  
}

.hex-layer-2-6 {
    background-image: url('../assets/images/6.png');
}

.hex-7 {
    margin-top: -43px;
    margin-left: 13px; 
}

.hex-layer-2-7 {
    background-image: url('../assets/images/7.png');
}

.hex-8 {
    margin-top: -43px;
    margin-left: 15px;
}

.hex-layer-2-8 {
    background-image: url('../assets/images/8.png');
}

.hex-9 {
    margin-top: -43px;
    margin-left: 14px;
}

.hex-layer-2-9 {
    background-image: url('../assets/images/9.png');
}

.hex-10 {
    margin-top: -46px;
    margin-left: 119px;
}

.hex-layer-2-10 {
    background-image: url('../assets/images/10.png');
}

.hex-11 {
    margin-top: -46px;
    margin-left: 13px; 
}

.hex-layer-2-11 {
    background-image: url('../assets/images/11.png');
}

.hex-12 {
    margin-top: -46px;
    margin-left: 13px; 
}

.hex-layer-2-12 {
    background-image: url('../assets/images/12.png');
}

.hex-13 {
    margin-top: -46px;
    margin-left: 16px;   
}

.hex-layer-2-13 {
    background-image: url('../assets/images/13.png');
}

.line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "line-1 line-2";
}

.line-3,
.line-4,
.line-5,
.line-6 {
    border: none;
    background-color: #e4e9eb;
    color: #e4e9eb;
    width: 104px;
    height: 1px;
    transform: rotate(-90deg);
    position: absolute;
}

.line-1,
.line-2 {
    border: none;
    background-color: #e4e9eb;
    color: #e4e9eb;
    width: 410px;
    height: 1px;
    margin-top: 11px;
    position: absolute;
}

.line-1 {
    margin-left: 27px;
    grid-area: line-1;
}

.line-2 {
    margin-left: 580px;
    grid-area: line-2;
}

.line-3 {
    margin-left: 47px;
    margin-top: 180px;
}

.line-4 {
    margin-left: 868px;
    margin-top: -108px;
}

.line-5 {
    margin-left: 46px;
    margin-top: 58px;
}

.line-6 {
    margin-left: 868px;
    margin-top: -110px;
}

.line-7 {
    border: none; 
    background-color: #e4e9eb;
    color: #e4e9eb;
    width: 960px;
    height: 1px; 
    margin-top: 72px;
    margin-left: 27px;
    grid-area: line-1;
}  

.line-8 {
    border: none;
    position: absolute;
    background-color: #219d84;
    width: 316px;
    height: 1px;
    transform: rotate(-90deg);
    color: #e4e9eb;
    margin-left: -59px;
    margin-top: -105px;
}
.line-9 {
    border: none;
    position: absolute;
    background-color: #219d84;
    width: 316px;
    height: 1px;
    transform: rotate(-90deg);
    color: #e4e9eb;
    margin-left: 460px;
    margin-top: -105px;
}

.line-10 {

    border: none; 
    background-color: #2b2b2b;
    color: #2b2b2b;
    width: 960px;
    height: 1px; 
    margin-top: -50px;
    margin-left: -95px;
}  

.line-11 {
    border: none; 
    background-color: #e4e9eb;
    color: #e4e9eb;
    width: 960px;
    height: 1px; 
    margin-left: -95px;
}  


.square-1,
.square-2,
.square-3,
.square-4,
.square-5,
.square-6 {
    width: 6px;
    height: 6px;
    background: #ddd2c5;
    position: absolute;
    margin-top: 54px;
}

.square-1 {

    margin-left: 28px;
}

.square-2 {
    margin-left: 38px;
}

.square-3 {
    background: #8b8784;
    margin-left: 47px;
}

.square-4 {
    margin-left: 56px;
}

.square-5 {
    margin-left: 66px;
}

.square-6 {
    margin-left: 75px;
}

.social-networks {
    display: flex;
    justify-content: flex-end;
    margin: 30px 120px 0 0; 
    
}

/*Autor`s info */

.profile-container {
    height: 341px;
    width: 1020px;
    background-color: #2eb398;
    margin-top: 11px;
}

.profile-container-1 {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1.7fr 0.3fr;
    grid-template-areas: "profile-img profile-info" ". social-networks";
}

.profile-img { 
    grid-area: profile-img; 
    margin-top: 70px;
    margin-left: 120px;
}

.hex-layer-2-man {
    background-image: url('../assets/images/man1.png');
}


.profile-info { 
    grid-area: profile-info;
    font-family: 'Maven Pro', sans-serif;
    
}

.profile-info h1 {
    font-size: 30px;
    padding-top: 58px;
    margin-left: 20px;
    color: rgba(215, 252, 245, 255);
    font-weight: lighter;
}

.profile-info h3 {
    font-size: 18pt;
    margin-left: 20px;
    color: rgba(32, 129, 109, 255);
}

.profile-info p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: rgba(215, 252, 245, 255);
    line-height: 1.98;
    padding-top: 2px;
    margin-left: 20px;
}

