body, html{
    font-size: 16px;
}

header {
    background: gray;
}

.button-submit {
    background: #2eb398;
}

.info {
    background-color: #2eb398;
}

.article{
    font-size: 2em;
}

.article .subtitle{
    font-family: 'MavenProRegular', AdobeInvisFont, MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(32, 129, 109, 255);
    text-align: justify;
}

h3 {
    font-family: 'MavenProRegular', AdobeInvisFont, MyriadPro-Regular;
    font-size: 30pt;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
}
.text-info {
    font-family: 'Lato-Regular', AdobeInvisFont, MyriadPro-Regular;
    font-size: 12pt;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
}

.footer-submit{
    background-color: #323232;
}

.input-text,
.input-email,
.input-message {
    background-color:#454545;
    width: 580px;
    height: 38px;
    font-family: 'Lato-Regular', AdobeInvisFont, MyriadPro-Regular;
    font-size: 12pt;
    color: rgba(190, 190, 190, 255);
    text-align: justify;
}
.input-message {
    width: 580px;
    height: 150px; 
}

.image{
    width: 200px;
    position: relative;
    left: 1px;
    top: 1px;
}

.image span {
    width: 200px;
    margin: 10px;
    padding: 0 10px;
    border: 1px solid red;
    display: inline-block;
    overflow: hidden;
    transform: rotate(120)
}

.hexagon {
    width: 182px;
    height: 209px;
    margin: 5px;
    transform: rotate(120deg);
    overflow: hidden;    
    visibility: hidden;
    display: inline-block;
}

.hex-layer-1 {
    visibility: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background-image: url('../assets/images/1.png');
    background-repeat: no-repeat;
    background-position: 50%;
}